.background {
    display: none;
}

.nav_links {
    display: none;
}

.button {
    display: none;
}

.container {
    width: 100%;
}

#logo_in_page {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#logo_in_page img {
    width: 10rem;
}

.more_slogan_yippi{
    display: none;
}

#about_us{
    display: flex;
    flex-direction: column;
}

.idk{
    font-size: 2rem;
}

.content{
    padding: 1rem;
}

.events_list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.members_list{
    grid-template-columns: repeat(2, 1fr);
}

.members_list > .member:nth-child(1) ~ .member {
    grid-column: span 1;
}
